.privacy-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    font-family: "Inter", Arial, sans-serif;
    line-height: 1.6;
    color: #222;
    text-align: left;
}

.privacy-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
}

.privacy-container h2,
.privacy-container p,
.privacy-container ul {
    margin: 10px 0;
    padding-left: 0;
    text-indent: 0;
}

.privacy-container h3 {
    font-weight: 700;
    font-size: larger;

}

.privacy-container ul {
    list-style: disc;
    padding-left: 20px;
    /* only bullet indentation */
}

.privacy-container strong {
    color: #000;
}

.policy-dates {
    text-align: center;
    margin: 5px 0;
}

.privacy-container .support {
    border: 2px solid #000;
    padding: 15px 20px;
    border-radius: 8px;
    background-color: #f9f9f983;
    margin-top: 10px;
    line-height: 1.6;
}

.privacy-container .support strong {
    width: 100px;
}